body {
    background-color: #014ba0;
}

p {
    color: white;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.top-box {
    display: inline;
    object-fit: cover;
    height: 20px;
}

.confernce-img {
    width: 100%;
    height: 100%;
    filter: blur(0.6rem);
}

.event-title {
    position: absolute;
    
    transform: translate(0%, -150%);
}

.title-text {
    margin: 0;
    font-size: 100px;
    color: white;
}

.date-box {
    margin-left: 30px;
    margin-bottom: 40px;
}

.date {
    font-size: 30px;
}

.speakers-box p{
    color: black;
}

.speakers-box {
    background-color: white;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

.speakers-title {
    text-align: center;
    font-size: 70px;
}

.speaker-box {
    display: block;
}

.speaker-pic-box {
    display: inline-block;
    object-fit: cover;
    width: 20%;
}

.speaker-pic {
    width: 100%;
    height: 100%;
}

.speaker-info-box {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(196, 193, 193);
    width: 70%;
    padding: 10px;
    margin-left: 40px;
}

.speaker-name {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 20px;
}

.speaker-info {
    font-size: 100%;
    margin-left: 16px;
}

.cronogram-box p {
    color: black;
}

.cronogram-box {
    background-color: white;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cronogram-title {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.cronogram-timeline {
    display: grid;
    grid-template-columns: 1fr 40px 10px 40px 1fr;
}

.cronogram-day-box-left p {
    text-align: left;
    color: white;
    margin-bottom: 16px;
}

.cronogram-day-box-left {
    background-color: black;
    display: inline-block;
    padding-bottom: 10px;
}

.cronogram-day-box-right p {
    text-align: right;
    color: white;
    margin-bottom: 16px;
}

.cronogram-day-box-right {
    background-color: black;
    display: inline-block;
    padding-bottom: 10px;
}

.day-title {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
}

.day-info {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}

.vertical-line {
    display: inline-block;
    background-color: black;
}

.horizontal-line {
    display: inline-block;
    background-color: black;
    height: 10px;
    vertical-align: center;
}

.blank {
    display: inline-block;
    height: 40px;
}

.ticket-box p {
    color: black;
}

.ticket-box {
    background-color: white;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ticket-title {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.ticket-info {
    font-size: 19px;
    display: inline-block;
    margin-right: 20px;
}

.ticket-link {
    background-color: limegreen;
    padding: 16px;
    color: white;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    text-decoration: none;
    transition: box-shadow 0.15s,
                background-color 0.15s;
}

.ticket-link:hover {
    box-shadow: 5px 5px 0px black;
}

.ticket-link:active {
    background-color: rgba(50, 205, 50, 0.425);
    box-shadow: 0px 0px 0px black;
}

.ticket-link:visited {
    color: white;
}